[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
bs4 = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
apscheduler = "*"

[dev-packages]

[requires]
python_version = "3.12"
