.Entries {
  margin-top: 1em;
}

/* .Entries_searchBar {
  display: flex;
  justify-content: center;
} */

.Entries_searchBar > input {
  border-radius: 12px;
}

.Entries_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
