<div class="card">
	<header class="card-header">
		<p class="card-header-title"> {{ entry.title }} </p>
	</header>
	<div class="card-content">
		<div class="content">
			{{ entry.content }}
		</div>
		<div class="content">
			Date Scraped: {{ entry.date_scraped }}
		</div>
	</div>
	<footer class="card-footer">
		<div class="card-footer-item">
			Visit: &nbsp <a href="{{ entry.link }}">{{ entry.source }}</a>
		</div>
		<a href="/article/{{ entry.id }}" class="card-footer-item">Read more</a>
	</footer>
</div>
