<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>BajanInsider - {% block title %} {% endblock %}</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
	<script src="https://unpkg.com/htmx.org@2.0.4"
		integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
		crossorigin="anonymous"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.8/dist/cdn.min.js"></script>
</head>

<body>
	<section class="section">
		{% block content%}

		{% endblock %}
	</section>

</body>

</html>
