{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<style>
	#backToTop {
		position: fixed;
		bottom: 20px;
		right: 20px;
		background-color: #f0f0f0;
		color: #333;
		border: 1px solid #ccc;
		border-radius: 5px;
		padding: 10px 15px;
		font-size: 14px;
		cursor: pointer;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 1000;
	}

	#backToTop:hover {
		background-color: #e3e3e3;
	}
</style>

<div class="content">
	<p class="content">Enjoy a selection of all news Barbados! <br>
		<small class="content is-hidden-touch">Check out the GitHub Project repository <a
				href="https://github.com/IsaiahSama/BajanInsider">here</a></small>
	</p>
</div>

<div class="is-flex-desktop is-justify-content-space-between is-align-content-center">

	<h2 class="subtitle">Latest News:</h2>
	<div class="field">
		<input id="search" class="input" type="text" name="search" hx-post="/htmx/entries/filter"
			hx-trigger="input changed delay:500ms" hx-target="#news" placeholder="🔎Search...">
	</div>
</div>

<section id="news" hx-get="/htmx/entries" hx-trigger="load" class="mt-2">
	<div class="is-fullwidth is-flex is-justify-content-center has-test-success"><i>Loading...</i></div>
</section>

<button id="backToTop" onclick="scrollToTop()">
	<img src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Flag_of_Barbados.svg" alt="Barbados Flag"
		style="width: 20px; height: 15px; margin-right: 5px;">
	Back to Top
</button>

<script>
	scrollToTop = () => {
		window.scrollTo({top: 0, behavior: "smooth"});
	}
</script>

{% endblock %}
