{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}


<div class="content">
	<p class="content has-text-centered-touch">Enjoy a selection of all news Barbados! <br>
		<small class="content is-hidden-touch">Check out the GitHub Project repository <a
				href="https://github.com/IsaiahSama/BajanInsider">here</a></small>
	</p>
</div>

<div class="is-flex-desktop is-justify-content-space-between is-align-content-center mb-5">

	<h2 class="subtitle is-hidden-touch">Latest News:</h2>
	<div class="field">
		<input id="search" class="input" type="text" name="search" style="border: 2px dashed"
			hx-post="/htmx/entries/filter" hx-trigger="input changed delay:500ms" hx-target="#news"
			placeholder="🔎Search...">
	</div>
</div>

<section id="news" hx-get="/htmx/entries" hx-trigger="load" class="mt-2">
	<div class="is-fullwidth is-flex is-justify-content-center has-test-success"><i>Loading...</i></div>
</section>

<button id="backToTop" onclick="scrollToTop()">
	<img src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Flag_of_Barbados.svg" alt="Barbados Flag"
		style="width: 20px; height: 15px; margin-right: 5px;">
	Back to Top
</button>

<script>
	scrollToTop = () => {
		window.scrollTo({top: 0, behavior: "smooth"});
	}
</script>

{% endblock %}
